{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}
{% block page_title %}{{ title }}{% endblock %}

{% block content %}
    <section>
        <a
            class="outline wide"
            {% if file_path.endswith(".yaml") %}
            href="{{
                url_for(
                    'routes.template_edit_file',
                    subpath=file_path
                )
            }}"
            {% else %}
            href="{{
                url_for(
                    'routes.template_edit_file',
                    subpath=file_path + ".j2"
                )
            }}"
            {% endif %}
            role="button"
        >Edit file</a>
    </section>
    <section>
        {{ content | safe }}
    </section>
{% endblock %}
