{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}
{% block page_title %}{{ title }}{% endblock %}

{% block content %}
    {% if directories is defined and directories|length > 0 %}
        <h3>Directories</h3>
        <table>
            <thead>
                <tr>
                    <th>Directory</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for dir in directories %}
                {% set parts = dir.split("/") %}
                <tr>
                    <td>{{ parts | last }}</td>
                    <td>
                        <a href="{{ url_for('routes.template_path_view', subpath=dir) }}">Open</a>
                    </td>
                    <td>
                        <a href="{{ url_for('routes.toolkit_render_files', subpath=dir) }}">Render</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if files is defined and files|length > 0 %}
        <h3>Files</h3>
        <table>
            <thead>
                <tr>
                    <th>Directory</th>
                    <th>Edit</th>
                    <th>Render</th>
                </tr>
            </thead>
            <tbody>
            {% for file in files %}
                {% set parts = file.split("/") %}
                <tr>
                <tr>
                    <td>{{ parts | last }}</td>
                    <td>
                        <a href="{{ url_for('routes.template_edit_file', subpath=file) }}">Edit</a>
                    </td>
                    <td>
                        <a href="{{ url_for('routes.toolkit_render_files', subpath=file) }}">Render</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if not directories and not files %}
        <p>No template files or directories found.</p>
    {% endif %}
{% endblock %}

{% block scripts %}
{% endblock %}
